<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>menu</title>
    <link rel="stylesheet" href="../layuimini/lib/layui-v2.5.4/css/layui.css" media="all">
    <link rel="stylesheet" href="../layuimini/css/public.css" media="all">
    <link rel="stylesheet" href="../layuimini/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <!--        <link rel="stylesheet" href="../layuimini/js/lay-module/treeSelect/ztree/ztree.css" media="all">-->
    <!--        <link rel="stylesheet" href="../layuimini/js/lay-module/treeSelect/treeSelect/treeSelect.css" media="all">-->
    <style>
        .layui-btn:not(.layui-btn-lg ):not(.layui-btn-sm):not(.layui-btn-xs) {
            height: 34px;
            line-height: 34px;
            padding: 0 8px;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <form class="layui-form" action="" lay-filter="example">
            <input type="hidden" name="id" id="primaryKey">
            <div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin"
                 style="padding: 20px 0 0 0;">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">类型名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="typeName" lay-verify="required" placeholder="请输入用户名"
                                   autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">类型描述</label>
                        <div class="layui-input-inline">
                            <input type="text" name="typeDesc" placeholder="请输入描述"
                                   autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">背景颜色</label>
                        <div class="layui-input-inline">
                            <input type="text" name="bgColor" placeholder="请输入描述"
                                   autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>

                </div>
                <hr/>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="save">提交</button>
                        <button type="button" class="layui-btn layui-btn-primary" id="close" lay-filter="close">
                            关闭
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- 操作列 -->
<script type="text/html" id="auth-state">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script src="../layuimini/lib/layui-v2.5.4/layui.js" charset="utf-8"></script>
<script src="../layuimini/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
<script>
    layui.use(['table', 'treetable', 'treeSelect', 'form', 'iconPickerFa'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        var treeSelect = layui.treeSelect
            , iconPickerFa = layui.iconPickerFa

        // 小图标
        // function loadIconPickerFa(){
        //     iconPickerFa.render({
        //         // 选择器，推荐使用input
        //         elem: '#iconPicker',
        //         // fa 图标接口
        //         url: "../layuimini/lib/font-awesome-4.7.0/less/variables.less",
        //         // 是否开启搜索：true/false，默认true
        //         search: true,
        //         // 是否开启分页：true/false，默认true
        //         page: true,
        //         // 每页显示数量，默认12
        //         limit: 12,
        //         // 点击回调
        //         click: function (data) {
        //             console.log(data);
        //         },
        //         // 渲染成功后的回调
        //         success: function (d) {
        //             console.log(d);
        //         }
        //     });
        // }

        // 提交
        form.on('submit(save)', function (data) {
            var url = data.field.id ? '/planType/update' : '/planType/add';
            var tips = data.field.id ? '编辑' : '新增';
            $.ajax({
                url: url,
                data: JSON.stringify(data.field),
                contentType: 'application/json;charset=UTF-8',
                cache: false,
                async: false,
                type: "POST",
                dataType: 'json',
                success: function (result) {
                    console.log(result);
                    if (result.success) {
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layui.table.reload('plan-type-table'); //主页代码，第一个参数为： 父页面的表格属性 id名
                        parent.layer.close(index); //成功再执行关闭
                        parent.layer.msg(tips + "成功", {
                            icon: 6
                        });
                    } else {
                        layer.msg(result.msg);

                    }
                },
                error: function (res) {
                }
            });
            return false;
        });

        // 关闭
        $('#close').click(function () {
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index); //成功再执行关闭
        })


        var primaryKey = $("#primaryKey").val();
        if (primaryKey) {
            $.ajax({
                url: '/planType/detail/' + primaryKey,
                method: 'get',
                dataType: 'JSON',
                success: function (res) {
                    if (res.success) {
                        form.val('example', {
                            "typeName": res.data.typeName
                            , "typeDesc": res.data.typeDesc
                            , "bgColor": res.data.bgColor
                        })

                    } else
                        layer.msg(res.msg);
                },
                error: function (data) {
                }
            });
        } else {
        }


    });
</script>
</body>
</html>
