<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.study.mapper.SysPlanDayExecutionMapper">

    <resultMap id="BaseResultMap" type="com.boot.study.model.SysPlanDayExecution">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="type_name" jdbcType="VARCHAR" property="typeName"/>
        <result column="type_desc" jdbcType="VARCHAR" property="typeDesc"/>
        <result column="start_time" jdbcType="VARCHAR" property="startTime"/>
        <result column="end_time" jdbcType="DATE" property="endTime"/>
        <result column="plan_state" jdbcType="DATE" property="planState"/>
        <result column="use_time" jdbcType="INTEGER" property="useTime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="location" jdbcType="VARCHAR" property="location"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>


</mapper>
