<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--        输出的日志-->
        <setting name="logImpl" value="LOG4J"/>
        <!--       true 可以自动将以下划线方式命名的数据库列映射到Java对象的驼峰式命名属性中-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--        是否延迟加载：false懒加载-->
        <setting name="aggressiveLazyLoading" value="false"/>

    </settings>


    <typeAliases>
        <!--        实体对应的包-->
        <package name="com.mybatis.book.study.model"/>
    </typeAliases>


    <!--    这些配置还有顺序，注意typeHandlers的位置不要放在typeAliases前面-->
    <typeHandlers>
<!--        <typeHandler javaType="com.mybatis.book.study.model.Enabled"-->
<!--                     handler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>-->

        <typeHandler javaType="com.mybatis.book.study.model.Enabled"
                     handler="com.mybatis.book.study.type.EnabledTypeHandler"/>
    </typeHandlers>

    <!--    <databaseIdProvider type="DB_VENDOR">-->
    <!--        <property name="SQL" value="sqlserver"/>-->
    <!--        <property name="DB2" value="db2"/>-->
    <!--        <property name="Oracle" value="oracle"/>-->
    <!--        <property name="MySQL" value="mysql"/>-->
    <!--        <property name="PostgreSQL" value="postgresql"/>-->
    <!--        <property name="Derby" value="derby"/>-->
    <!--        <property name="HSQL" value="hsqldb"/>-->
    <!--        <property name="H2" value="h2"/>-->
    <!--    </databaseIdProvider>-->

    <!--    数据源配置-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
                <property name="" value=""/>
            </transactionManager>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis-study"/>
                <property name="username" value="root"/>
                <property name="password" value="mysql"/>
            </dataSource>
        </environment>
    </environments>


    <mappers>
        <!--        映射文件所在位置-->
        <mapper resource="mappers/CountryMapper.xml"></mapper>
        <mapper resource="mappers/UserMapper.xml"></mapper>
        <mapper resource="mappers/RoleMapper.xml"></mapper>
        <mapper resource="mappers/PrivilegeMapper.xml"></mapper>
        <mapper resource="mappers/UserRoleMapper.xml"></mapper>
        <mapper resource="mappers/RolePrivilegeMapper.xml"></mapper>
    </mappers>

</configuration>

