<!--<div class="layui-container">-->
    <div class="layui-row layui-bg-white">
        <div class="layui-col-md4">
            菜单树
            <div id="test9" class="demo-tree demo-tree-box"
                 style="width: 200px; height: 300px; overflow: scroll;"></div>

        </div>

        <div class="layui-card right-container layui-col-md8">
            <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="app-content-list">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">菜单名</label>
                        <div class="layui-input-inline">
                            <input type="text" id="menuName" name="menuName" placeholder="请输入" autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layuiadmin-btn-list" id="menu-search" lay-submit=""
                                lay-filter="LAY-app-contlist-search">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        </button>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layuiadmin-btn-list" id="menu-add" lay-submit=""
                                lay-filter="">
                            <i class="layui-icon layui-icon-add-circle layuiadmin-button-btn"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="layui-card-body">
                <table class="layui-hide" id="menuTable" lay-filter="toolFilter"></table>
            </div>


            <script type="text/html" id="barDemo">
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            </script>

            <script type="text/html" id="sexTpl">
                {{#  if(d.sex == 0){ }}
                男
                {{#  } else if(d.sex == 1){ }}
                女
                {{#  } else { }}
                神秘
                {{# } }}
            </script>
        </div>

    </div>

<!--</div>-->

<!--<script src="//res.layui.com/layui/dist/layui.js?t=1566370370424"></script>-->
<script>
    layui.config({
        base: '/lib/'
    }).use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider', 'utilTool', 'tree'], function () {
        var laydate = layui.laydate //日期
            , laypage = layui.laypage //分页
            , layer = layui.layer //弹层
            , table = layui.table //表格
            , carousel = layui.carousel //轮播
            , upload = layui.upload //上传
            , element = layui.element //元素操作
            , slider = layui.slider //滑块
            , $ = layui.jquery
            , utilTool = layui.utilTool
            , tree = layui.tree;

        // 菜单树

        $.ajax({
            url: '/menu/menuTree',
            method: 'get',
            // contentType: 'application/json',
            // data: JSON.stringify(ids),
            dataType: 'JSON',
            success: function (res) {
                if (res.code == '0') {
                    tree.render({
                        elem: '#test9'
                        , data: res.data
                        , edit: ['add', 'update', 'del'] //操作节点的图标
                        , click: function (obj) {
                            layer.msg(JSON.stringify(obj.data));
                        },
                        operate: function (data) {
                            console.log(data);
                        }
                    });
                }
            },
            error: function (data) {

            }
        });


        // 表格
        table.render({
            elem: '#menuTable'
            , height: 560
            , url: '/menu/pageList/' //数据接口
            , title: '菜单'
            , page: true //开启分页
            // , toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            , totalRow: true //开启合计行
            , cols: [[ //表头
                {type: 'checkbox', fixed: 'left'},
                {field: 'menuName', title: '菜单名', width: 120},
                {field: 'routeUrl', title: '路由', width: 120},
                {field: 'littleIcon', title: '小图片', width: 120},
                {fixed: 'right', width: 165, align: 'center', toolbar: '#barDemo'}
            ]]
        });

        // 查询
        $('#menu-search').click(function () {
            console.log($('#menuName').val());
            table.reload('menuTable', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                , where: {
                    menuName: $('#menuName').val()
                }
            }, 'data');

        })

        // 打开增加页面
        $('#menu-add').click(function () {
            operate('增加菜单', '/menu/add');
        })


        function operate(title, url,primaryKey) {
            layer.open({
                type: 2,
                title: title,
                area: ['45%', '65%'],
                shade: 0.7,
                shadeClose: true,
                scrollbar: true,
                resize: true,
                maxmin: true,
                zIndex: 999,
                content: ["/menu/menuPage"],
                btn: ['提交', '取消'],
                success: function (layero, index) {
                    if(primaryKey){
                        var body = top.layer.getChildFrame('body', index);
                        body.contents().find("#primaryKey").val(primaryKey);
                    }
                },
                yes: function (index, layero) {
                    utilTool.formSubmit(index, layero, 'btn_save', url, function (res) {
                        if (res.code == '0') {
                            layer.close(index);
                            table.reload('menuTable', {
                                page: {
                                    curr: 1 //重新从第 1 页开始
                                }
                                , where: {
                                    key: {
                                        id: $('#menuTable').val()
                                    }
                                }
                            }, 'data');
                        }
                    });
                }
            });
        }

        //监听行工具事件
        table.on('tool(toolFilter)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            console.log(data);
            if (layEvent === 'detail') {
                layer.msg('查看操作');
            } else if (layEvent === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    // obj.del(); //删除对应行（tr）的DOM结构
                    $.ajax({
                        url: '/user/remove/' + data.id,
                        method: 'get',
                        dataType: 'JSON',
                        success: function (res) {
                            if (res.code == '0') {
                                layer.close(index);
                                table.reload('menuTable', {
                                    page: {
                                        curr: 1 //重新从第 1 页开始
                                    }
                                    , where: {
                                        key: {
                                            id: $('#menuTable').val()
                                        }
                                    }
                                }, 'data');
                            }
                        },
                        error: function (data) {

                        }
                    });

                    //向服务端发送删除指令
                });
            } else if (layEvent === 'edit') {
                // layer.msg('编辑操作');
                operate('修改菜单', '/menu/update',data.id);
            }
        });


    });
</script>
